	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.93765449999955px;
		padding-bottom: 0px;
		max-width: 1360px;
	}

	#page_position_content
	{
		margin-top: -1px;
	}

	#pu120522
	{
		padding-bottom: 82px;
		margin-top: 1px;
	}

	#u120522
	{
		height: 74px;
		top: 0px;
	}

	#menuu2263
	{
		z-index: 382;
		width: 785px;
		position: fixed;
		top: 23px;
		right: -94px;
	}

	#u2264
	{
		width: 84px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
	}

	#u2267
	{
		width: 84px;
		padding-bottom: 15px;
		position: relative;
	}

	#u2267:hover
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u2267.MuseMenuActive
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u2270-4
	{
		width: 45px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 19px;
	}

	#u2267:hover #u2270-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 45px;
		margin: 0px -10000px 0px 0px;
	}

	#u2267.MuseMenuActive #u2270-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 45px;
		margin: 0px -10000px 0px 0px;
	}

	#u2271
	{
		width: 241px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 86px;
	}

	#u2274
	{
		width: 241px;
		padding-bottom: 15px;
		position: relative;
	}

	#u2274:hover
	{
		width: 241px;
		min-height: 0px;
		margin: 0px;
	}

	#u2274.MuseMenuActive
	{
		width: 241px;
		min-height: 0px;
		margin: 0px;
	}

	#u2276-4
	{
		width: 202px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 19px;
	}

	#u2274:hover #u2276-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 202px;
		margin: 0px -10000px 0px 0px;
	}

	#u2274.MuseMenuActive #u2276-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 202px;
		margin: 0px -10000px 0px 0px;
	}

	#u2398
	{
		width: 120px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 329px;
	}

	#u2399
	{
		width: 120px;
		padding-bottom: 15px;
		position: relative;
	}

	#u2399:hover
	{
		width: 120px;
		min-height: 0px;
		margin: 0px;
	}

	#u2399.MuseMenuActive
	{
		width: 120px;
		min-height: 0px;
		margin: 0px;
	}

	#u2402-4
	{
		width: 82px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 19px;
	}

	#u2399:hover #u2402-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 82px;
		margin: 0px -10000px 0px 0px;
	}

	#u2399.MuseMenuActive #u2402-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 82px;
		margin: 0px -10000px 0px 0px;
	}

	#u2461
	{
		width: 139px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 451px;
	}

	#u2464
	{
		width: 139px;
		padding-bottom: 15px;
		position: relative;
	}

	#u2464:hover
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u2464.MuseMenuActive
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u2467-4
	{
		width: 101px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 19px;
	}

	#u2464:hover #u2467-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 101px;
		margin: 0px -10000px 0px 0px;
	}

	#u2464.MuseMenuActive #u2467-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 101px;
		margin: 0px -10000px 0px 0px;
	}

	#u2524
	{
		width: 101px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 592px;
	}

	#u2525
	{
		width: 101px;
		padding-bottom: 15px;
		position: relative;
	}

	#u2525:hover
	{
		width: 101px;
		min-height: 0px;
		margin: 0px;
	}

	#u2525.MuseMenuActive
	{
		width: 101px;
		min-height: 0px;
		margin: 0px;
	}

	#u2527-4
	{
		width: 63px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 19px;
	}

	#u2525:hover #u2527-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 63px;
		margin: 0px -10000px 0px 0px;
	}

	#u2525.MuseMenuActive #u2527-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 63px;
		margin: 0px -10000px 0px 0px;
	}

	#u172
	{
		z-index: 413;
		width: 143px;
		top: 0px;
		left: 9px;
	}

	#u172_img
	{
		padding-bottom: 14px;
	}

	#phistoria
	{
		margin-top: -83px;
		width: 100%;
	}

	#historia
	{
		margin-top: 804px;
		left: -27px;
	}

	#slideshowu93407
	{
		height: 772px;
	}

	#u93416,#u124786,#u124837,#u124888,#u125041,#u124990
	{
		width: 1360px;
		height: 772px;
	}

	#pamphletu94149
	{
		height: 193px;
		margin-top: 301px;
		margin-left: 50%;
		left: -464px;
	}

	#u94150
	{
		width: 113px;
		margin-top: 180px;
		left: 433px;
	}

	#u94154
	{
		left: 25px;
	}

	#u94151
	{
		left: 50px;
	}

	#u94153
	{
		left: 75px;
	}

	#u94289
	{
		left: 100px;
	}

	#u94155
	{
		width: 928px;
	}

	#u94159-6
	{
		width: 863px;
		min-height: 171px;
		left: -431px;
	}

	#u94162-6,#u94157-6
	{
		width: 863px;
		min-height: 75px;
		margin-top: 23px;
		left: 33px;
	}

	#u94544-6
	{
		width: 863px;
		min-height: 75px;
		margin-top: 22px;
		left: 33px;
	}

	#u94158,#u94161,#u94156,#u94160,#u94298
	{
		width: 928px;
		height: 171px;
	}

	#u94551-6
	{
		width: 863px;
		min-height: 75px;
		margin-top: 22px;
		left: -431px;
	}

	#u222557-4
	{
		margin-top: 794px;
		width: 37.28%;
		margin-left: 31.37%;
		left: 1px;
	}

	#pu222591-15
	{
		margin-top: 25px;
		width: 100%;
	}

	#u222591-15
	{
		min-height: 231px;
		margin-right: -10000px;
		margin-top: 13px;
		left: 152px;
		width: 38.83%;
	}

	#u222631
	{
		margin-right: -10000px;
		width: 36.55%;
		margin-left: 63.46%;
		left: -152px;
	}

	#pconquistas
	{
		margin-top: 38px;
		width: 100%;
	}

	#conquistas
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 10px;
		left: -27px;
	}

	#u231702-4
	{
		margin-right: -10000px;
		width: 37.28%;
		margin-left: 31.37%;
		left: 1px;
	}

	#u231695-73
	{
		min-height: 574px;
		margin-top: 49px;
		width: 77.65%;
		margin-left: 11.18%;
		left: 0px;
	}

	#u231695-17,#u231695-27,#u231695-41
	{
		color: #763988;
	}

	#pu233290
	{
		margin-top: 19px;
		width: 100%;
	}

	#u233290
	{
		display: block;
		vertical-align: top;
		margin-right: -10000px;
		width: 24.12%;
		margin-left: 37.95%;
		left: -496px;
	}

	#u300283
	{
		width: 25%;
		margin-left: 37.5%;
		left: -162px;
	}

	#u300309
	{
		margin-right: -10000px;
		width: 25%;
		margin-left: 37.5%;
		left: 178px;
	}

	#u300325
	{
		width: 22.14%;
		margin-left: 38.94%;
		left: 499px;
	}

	#pconselhos
	{
		margin-top: 16px;
		width: 100%;
	}

	#conselhos
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 9px;
		left: -11px;
	}

	#u234553-4
	{
		margin-top: 14px;
		width: 37.28%;
		margin-left: 31.37%;
		left: 2px;
	}

	#pu234316
	{
		margin-right: -10000px;
		width: 19.34%;
		margin-left: 59.78%;
	}

	#u234320-4
	{
		min-height: 102px;
		margin-top: 68px;
		width: 91.26%;
		left: 4.19%;
	}

	#u234306
	{
		height: 277px;
		position: relative;
		margin-right: -10000px;
		width: 19.34%;
		left: 21.11%;
	}

	#u234307-4
	{
		min-height: 70px;
		margin-top: 17px;
		width: 17.65%;
		left: 21.92%;
	}

	#u234308
	{
		padding-top: 17px;
		padding-bottom: 66px;
		position: relative;
		margin-right: -10000px;
		width: 19.34%;
		left: 40.45%;
	}

	#u234310
	{
		padding-top: 17px;
		padding-bottom: 66px;
		position: relative;
		margin-right: -10000px;
		width: 19.34%;
		left: 59.78%;
	}

	#u234314-6,#u234315-4
	{
		min-height: 101px;
		margin-top: 34px;
		width: 91.26%;
		margin-left: 4.19%;
	}

	#u234313-4
	{
		min-height: 190px;
		margin-top: 70px;
		width: 17.65%;
		left: 21.92%;
	}

	#u234577-4
	{
		margin-top: 16px;
		width: 37.28%;
		margin-left: 31.37%;
		left: 2px;
	}

	#u234565
	{
		padding-top: 14px;
		padding-bottom: 74px;
		position: relative;
		margin-right: -10000px;
		width: 19.34%;
		left: 21.11%;
	}

	#u234317-4,#u234305-4,#u234731-4
	{
		min-height: 111px;
		margin-top: 14px;
	}

	#u234718-4
	{
		min-height: 102px;
		margin-right: -10000px;
		margin-top: 69px;
		width: 17.65%;
		left: 41.25%;
	}

	#u234823-4
	{
		margin-top: 19px;
		width: 37.28%;
		margin-left: 31.37%;
		left: 2px;
	}

	#u300325_img,#pu234301,#u234316,#pu234306,#pu234565,#pu234796
	{
		width: 100%;
	}

	#u234301,#u234796
	{
		padding-top: 14px;
		padding-bottom: 91px;
		position: relative;
		margin-right: -10000px;
		width: 19.34%;
		left: 21.11%;
	}

	#u234302-4,#u234309-4,#u234311-4,#u234586-4,#u234814-4
	{
		min-height: 24px;
		width: 91.26%;
		margin-left: 4.19%;
	}

	#u234312-5,#u234631-5,#u234805-5
	{
		min-height: 92px;
		margin-top: 29px;
		width: 91.26%;
		margin-left: 4.57%;
	}

	#u234303,#u234730,#u234757
	{
		width: 19.34%;
		left: 40.45%;
	}

	#u234318,#u234304,#u234732,#u234759
	{
		padding-bottom: 152px;
	}

	#u234758-4
	{
		min-height: 111px;
		margin-top: 14px;
		width: 100%;
	}

	#u234319-4,#u234787-4
	{
		min-height: 102px;
		margin-top: 69px;
		width: 17.65%;
		left: 41.25%;
	}

	#pprojetos
	{
		margin-top: 18px;
		width: 100%;
	}

	#projetos
	{
		width: 22px;
		margin-right: -10000px;
		left: -16px;
	}

	#u236037-4
	{
		margin-right: -10000px;
		margin-top: 9px;
		width: 37.28%;
		margin-left: 31.37%;
		left: 2px;
	}

	#u236049-23
	{
		width: 1056px;
		margin-top: 24px;
		margin-left: 50%;
		left: -528px;
	}

	#paliados
	{
		margin-top: 13px;
		width: 100%;
	}

	#aliados
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 19px;
		left: -27px;
	}

	#u234289-4,#u237147-4
	{
		margin-right: -10000px;
		width: 37.28%;
		margin-left: 31.37%;
		left: 2px;
	}

	#u237159-50
	{
		width: 1056px;
		margin-top: 26px;
		margin-left: 50%;
		left: -528px;
	}

	#u157
	{
		min-height: 121px;
		padding-bottom: 4px;
	}

	#u1486-12
	{
		min-height: 94px;
		margin-top: 19px;
		width: 75.67%;
		left: 1.7%;
	}

	#pu400
	{
		margin-top: 44px;
		width: 1.33%;
		margin-left: 98.68%;
	}

	#u400,#u420
	{
		left: -90px;
	}

	#u420:hover
	{
		left: -90px;
	}

	#u420:active
	{
		left: -90px;
	}

	#u157-bw
	{
		min-height: 121px;
		margin-top: 28px;
	}

