	#menuu2263
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u2267
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u2267:hover
	{
		-webkit-transition-duration: 0.1s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.1s;
		transition-delay: 0.1s;
		transition-timing-function: ease;
	}

	#u2270-4
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #763988;
		line-height: 19px;
		font-size: 16px;
		text-align: left;
		font-family: maven-pro, sans-serif;
		font-weight: 900;
	}

	#u2267:hover #u2270-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.2s;
		transition-delay: 0.2s;
		transition-timing-function: ease;
	}

	#u2267:hover #u2270-4 p,#u2267:hover #u2270-4 h1
	{
		color: #F51357;
		visibility: inherit;
	}

	#u2274
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u2274:hover
	{
		-webkit-transition-duration: 0.1s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.1s;
		transition-delay: 0.1s;
		transition-timing-function: ease;
	}

	#u2276-4
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #763988;
		line-height: 19px;
		font-size: 16px;
		text-align: left;
		font-family: maven-pro, sans-serif;
		font-weight: 900;
	}

	#u2274:hover #u2276-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.2s;
		transition-delay: 0.2s;
		transition-timing-function: ease;
	}

	#u2274:hover #u2276-4 p,#u2274:hover #u2276-4 h1
	{
		color: #F51357;
		visibility: inherit;
	}

	#u2399
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u2399:hover
	{
		-webkit-transition-duration: 0.1s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.1s;
		transition-delay: 0.1s;
		transition-timing-function: ease;
	}

	#u2402-4
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #763988;
		line-height: 19px;
		font-size: 16px;
		text-align: left;
		font-family: maven-pro, sans-serif;
		font-weight: 900;
	}

	#u2399:hover #u2402-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.2s;
		transition-delay: 0.2s;
		transition-timing-function: ease;
	}

	#u2399:hover #u2402-4 p,#u2399:hover #u2402-4 h1
	{
		color: #F51357;
		visibility: inherit;
	}

	#u2464
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u2464:hover
	{
		-webkit-transition-duration: 0.1s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.1s;
		transition-delay: 0.1s;
		transition-timing-function: ease;
	}

	#u2467-4
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #763988;
		line-height: 19px;
		font-size: 16px;
		text-align: left;
		font-family: maven-pro, sans-serif;
		font-weight: 900;
	}

	#u2464:hover #u2467-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.2s;
		transition-delay: 0.2s;
		transition-timing-function: ease;
	}

	#u2464:hover #u2467-4 p,#u2464:hover #u2467-4 h1
	{
		color: #F51357;
		visibility: inherit;
	}

	#u2264,#u2271,#u2398,#u2461,#u2524
	{
		background-color: transparent;
	}

	#u2525
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u2525:hover
	{
		-webkit-transition-duration: 0.1s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.1s;
		transition-delay: 0.1s;
		transition-timing-function: ease;
	}

	#u2527-4
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #763988;
		line-height: 19px;
		font-size: 16px;
		text-align: left;
		font-family: maven-pro, sans-serif;
		font-weight: 900;
	}

	#u2525:hover #u2527-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.2s;
		transition-delay: 0.2s;
		transition-timing-function: ease;
	}

	#u2267.MuseMenuActive,#u2267.MuseMenuActive #u2270-4,#u2274.MuseMenuActive,#u2274.MuseMenuActive #u2276-4,#u2399.MuseMenuActive,#u2399.MuseMenuActive #u2402-4,#u2464.MuseMenuActive,#u2464.MuseMenuActive #u2467-4,#u2525.MuseMenuActive,#u2525.MuseMenuActive #u2527-4
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
	}

	#u2525:hover #u2527-4 p,#u2525:hover #u2527-4 h1
	{
		color: #F51357;
		visibility: inherit;
	}

	#u2267.MuseMenuActive #u2270-4 p,#u2267.MuseMenuActive #u2270-4 h1,#u2274.MuseMenuActive #u2276-4 p,#u2274.MuseMenuActive #u2276-4 h1,#u2399.MuseMenuActive #u2402-4 p,#u2399.MuseMenuActive #u2402-4 h1,#u2464.MuseMenuActive #u2467-4 p,#u2464.MuseMenuActive #u2467-4 h1,#u2525.MuseMenuActive #u2527-4 p,#u2525.MuseMenuActive #u2527-4 h1
	{
		color: #763988;
		visibility: inherit;
	}

	#u157_align_to_page
	{
		max-width: 1360px;
	}


